<div>
  <div class="navigation">
    <div id="logo">
      <h1>ToDoDaily</h1>
    </div>

    <form id="add_task_form" action="/tasks" method="post">
      <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
      <input type="text" name="title" placeholder="What needs to be done..." onkeypress="onAddFormPress"/>
    </form>

    <div id="all-days">
      <a href="#">All Days</a>
    </div>
  </div>

  <div class="tasks-container">
    <div class="tasks">

    </div>

    <div class="tag-title">
      <h2>Programming</h2>
        <ul class="programming">
          <% @tasks_programming.each do |task| %>
            <li class="<%= 'completed' if task.completed %>">
                <span class="checkbox">
                  <% if task.completed %>
                  &#10003;
                  <% end %>
                </span>
              <%= link_to task.title, complete_task_url(task.id), method: :post %>
            </li>
          <% end %>
        </ul>

      <h2>University</h2>
        <ul class="university">
          <% @tasks_university.each do |task| %>
            <li class="<%= 'completed' if task.completed %>">
              <span class="checkbox">
                <% if task.completed %>
                  &#10003;
                <% end %>
              </span>
              <%= link_to task.title, complete_task_url(task.id), method: :post %>
            </li>
          <% end %>
        </ul>

      <h2>Sport</h2>
        <ul class="sport">
          <% @tasks_sport.each do |task| %>
            <li class="<%= 'completed' if task.completed %>">
              <span class="checkbox">
                <% if task.completed %>
                  &#10003;
                <% end %>
              </span>
              <%= link_to task.title, complete_task_url(task.id), method: :post %>
            </li>
          <% end %>
        </ul>

      <h2>Languages</h2>
        <ul class="languages">
          <% @tasks_languages.each do |task| %>
            <li class="<%= 'completed' if task.completed %>">
              <span class="checkbox">
                <% if task.completed %>
                  &#10003;
                <% end %>
              </span>
              <%= link_to task.title, complete_task_url(task.id), method: :post %>
            </li>
          <% end %>
        </ul>

      <h2>Reading</h2>
        <ul class="reading">
          <% @tasks_reading.each do |task| %>
            <li class="<%= 'completed' if task.completed %>">
              <span class="checkbox">
                <% if task.completed %>
                  &#10003;
                <% end %>
              </span>
              <%= link_to task.title, complete_task_url(task.id), method: :post %>
            </li>
          <% end %>
        </ul>

      <h2>Daily Routine</h2>
        <ul class="daily-routine">
          <% @tasks_daily_routine.each do |task| %>
            <li class="<%= 'completed' if task.completed %>">
              <span class="checkbox">
                <% if task.completed %>
                  &#10003;
                <% end %>
              </span>
              <%= link_to task.title, complete_task_url(task.id), method: :post %>
            </li>
          <% end %>
        </ul>
    </div>
  </div>
</div>