<div>
  <div class="navigation">
    <div id="logo">
      <h1>ToDoDaily</h1>
    </div>

    <form id="add_task_form" action="/tasks" method="post">
      <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
      <input type="text" name="title" placeholder="What needs to be done..." onkeypress="onAddFormPress"/>
    </form>

    <div id="all-days">
      <a href="#">All Days</a>
    </div>
  </div>

  <div class="tasks-container">
    <div class="tasks">

    </div>

    <div class="tag-title">
      <h2>Programming</h2>
      <%= render 'task_category', category: 'programming', tasks: @tasks_programming %>

      <h2>University</h2>
      <%= render 'task_category', category: 'university', tasks: @tasks_university %>

      <h2>Sport</h2>
      <%= render 'task_category', category: 'sport', tasks: @tasks_sport %>

      <h2>Languages</h2>
      <%= render 'task_category', category: 'languages', tasks: @tasks_languages %>

      <h2>Reading</h2>
      <%= render 'task_category', category: 'reading', tasks: @tasks_reading %>

      <h2>Daily Routine</h2>
      <%= render 'task_category', category: 'daily-routine', tasks: @tasks_daily_routine %>
    </div>
  </div>
</div>