<div>
  <div class="navigation">
    <div id="logo">
      <h1>ToDoDaily</h1>
    </div>

    <form id="add_task_form" action="/tasks" method="post">
      <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
      <input type="text" name="title" placeholder="Add a new task with #tag..." onkeypress="onAddFormPress"/>
    </form>

    <div id="all_days">
      <a href="<%= all_days_url %>">All Days</a>
    </div>
  </div>

  <div class="header">
    <h1>What have I already done?</h1>
    <div class="current-date">
      <%= @time_now %>
    </div>
  </div>

  <div class="tasks-container">
    <div class="tasks">
      <div class="programming-container">
        <div class="programming-percentage percentage">
          <h2>Programming</h2>
          <span>
            <%= @programming_percentage %>% / 100%
          </span>
        </div>
        <%= render 'task_category', category: 'programming',
                   tasks: @tasks_programming,
                   percentage: @programming_percentage %>
      </div>

      <div class="university-container">
        <div class="university-percentage percentage">
          <h2>University</h2>
          <span>
            <%= @university_percentage %>% / 100%
          </span>
        </div>
        <%= render 'task_category', category: 'university',
                   tasks: @tasks_university,
                   percentage: @university_percentage %>
      </div>

      <div class="sport-container">
        <div class="sport-percentage percentage">
          <h2>Sport</h2>
          <span>
            <%= @sport_percentage %>% / 100%
          </span>
        </div>
        <%= render 'task_category', category: 'sport',
                   tasks: @tasks_sport,
                   percentage: @sport_percentage %>
      </div>

      <div class="languages-container">
        <div class="languages-percentage percentage">
          <h2>Languages</h2>
          <span>
            <%= @languages_percentage %>% / 100%
          </span>
        </div>
        <%= render 'task_category', category: 'languages',
                   tasks: @tasks_languages,
                   percentage: @languages_percentage %>
      </div>

      <div class="reading-container">
        <div class="reading-percentage percentage">
          <h2>Reading</h2>
          <span>
            <%= @reading_percentage %>% / 100%
          </span>
        </div>
        <%= render 'task_category', category: 'reading',
                   tasks: @tasks_reading,
                   percentage: @reading_percentage %>
      </div>

      <div class="daily-routine-container">
        <div class="daily-routine-percentage percentage">
          <h2>Daily Routine</h2>
          <span>
            <%= @daily_routine_percentage %>% / 100%
          </span>
        </div>
        <%= render 'task_category', category: 'daily-routine',
                   tasks: @tasks_daily_routine,
                   percentage: @daily_routine_percentage %>
      </div>
    </div>
  </div>
</div>